[run]
omit =
    */tests/*
    */__init__.py

[report]
exclude_lines =
    # Skip standard non-testable or trivial lines
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
    raise NotImplementedError

    # Skip complex conditional logic that's safe to ignore
    if tag != "body"

[html]
directory = coverage_html_report
